* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: rgb(113, 112, 112);
}
.container {
  background-color: rgb(0, 14, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.back,
.front {
  color: #fff;
  font-size: 2rem;
  margin: 0 3rem;

  cursor: pointer;
}
.image {
  max-height: 400px;
}

.grid,
.dots {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dots {
  margin: 20px 0;
  font-size: 10px;
}

.grid-item {
  height: auto;
  margin-top: 1rem;
  width: 120px;
}

.grid-item:hover,
.grid-item:active {
  transition: all 0.35s ease-in-out;
  transform: scale(1.1);
}
